body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 28px;
    padding: 28px;
}

.ticket-card{
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    display: inline-block;
    border-color: tomato;
}